#Clock
Net "clk" LOC="B8";

Net "clk" IOSTANDARD = LVCMOS33;

#Reset
Net "reset" LOC="C13" | IOSTANDARD = LVCMOS33;

#Switches
Net "sw[0]" LOC="J11" | IOSTANDARD = LVCMOS33;
Net "sw[1]" LOC="J12" | IOSTANDARD = LVCMOS33;
Net "sw[2]" LOC="H16" | IOSTANDARD = LVCMOS33;
Net "sw[3]" LOC="H13" | IOSTANDARD = LVCMOS33;
Net "sw[4]" LOC="G12" | IOSTANDARD = LVCMOS33;
Net "sw[5]" LOC="E14" | IOSTANDARD = LVCMOS33;
Net "sw[6]" LOC="D16" | IOSTANDARD = LVCMOS33;
Net "sw[7]" LOC="B16" | IOSTANDARD = LVCMOS33;

#LEDS
Net "leds[0]" LOC="C11" | IOSTANDARD = LVCMOS33;
Net "leds[1]" LOC="D11" | IOSTANDARD = LVCMOS33;
Net "leds[2]" LOC="B11" | IOSTANDARD = LVCMOS33;
Net "leds[3]" LOC="A12" | IOSTANDARD = LVCMOS33;
Net "leds[4]" LOC="A13" | IOSTANDARD = LVCMOS33;
Net "leds[5]" LOC="B13" | IOSTANDARD = LVCMOS33;
Net "leds[6]" LOC="A14" | IOSTANDARD = LVCMOS33;
Net "leds[7]" LOC="B14" | IOSTANDARD = LVCMOS33;